main {
    display: grid;
    position: relative;
    margin: 40px 0;
    width: 70%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    z-index: 7;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    min-height: calc(100vh - 201px);
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie {
    overflow: hidden;
    position: relative;
    transition: all ease-in-out 100ms;
}

.movie img {
    width: 100%;
    display: table-cell;
    border-radius: 0px;
    border-radius: 15px;
    object-fit:  cover;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.movieinfo {
    color: var(--head-light);
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: space-between;
    position: relative;
    letter-spacing: 0.5px;
    height: 70px;
}

.movieinfo h3 {
    margin: 0;
    grid-column: 1/-1;
    font-size: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}

.span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    position: absolute;
    top: 20px;
    right: 20px;
}

.span {
    text-decoration: "none" !important;
    color: var(--white);
}

.movieinfo p {
    font-size: 90%;
}

.movieinfo > .year {
    text-align: left;
    background-color: unset;
    padding: 0;
    color : var(--head-light);
}

.movie:hover  {
    cursor: pointer;
    transform: scale(1.1);
}

.toTop {
    position: fixed;
    bottom: 25px;
    right: 25px;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    z-index: 7;
}

.toTop i {
    padding: 4px 5px;
    color: var(--white);
    cursor: pointer;
    background: var(--gradient);
    border-radius: 50%;
    font-size: 2.0em;
    font-weight: 900;
    
}

.toTop:hover {
   transform: scale(1.3);
}

@media screen and (max-width: 1733px) {
    main {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
    }

    .movieinfo h3 {
        font-size: 100%;
    }

    .movieinfo p {
        font-size: 90%;
    }
}

@media screen and (max-width: 1000px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
    }

    .movieinfo h3 {
        font-size: 90%;
    }

    .movieinfo p {
        font-size: 70%;
    }

    .span {
        font-size: 12px;
        top: 10px;
        right: 10px;
    }

    .movie {
        border-radius: 5px;
    }
}